@import "src/styles/carbon-utils.scss";

@include adjustPaddingInIBMGridAndCol();

h1 {
  font-size: calc(1.75vw + 1.75vh);
}

.logos-row {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;

  [ibmCol] {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }
}
