@import "src/styles/carbon-utils.scss";

@include adjustPaddingInIBMGridAndCol();

h2 {
  font-size: calc(1vw + 1vh);
}

p,
ul {
  margin-bottom: 0.5rem;
  font-size: calc(0.75vw + 0.75vh);
}

ul {
  list-style-type: disc;

  li {
    margin-left: 2rem;
    margin-bottom: 0.5rem;

    ul {
      list-style-type: circle;
    }
  }
}

.column-with-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}
