@import "src/styles/carbon-utils.scss";

@include adjustPaddingInIBMGridAndCol();

h1 {
  font-size: calc(1.25vw + 1.25vh);
}

p {
  font-size: calc(0.75vw + 0.75vh);
}

.quarter-container,
.explanation-quarter-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.explanation-quarter-container {
  margin-bottom: 1.5rem;
}

.subject-container,
.explanation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: calc(20% - 10px);
  border: 2px solid black;
  margin: 5px;
  height: 75px;
  font-size: calc(0.75vw + 0.75vh);
}

.subject-container:hover {
  cursor: pointer;
}

.column-with-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

.clickeable-element {
  cursor: pointer;
}

.clickeable-element:hover {
  background-color: #cbcbcb;
}

.inner-clickeable-element {
  cursor: pointer;
  background-color: #fbfbfb;
  margin-left: 2rem;
}

.inner-clickeable-element:hover {
  background-color: #cbcbcb;
}

.bx--btn--primary {
  background-color: black;
}

.bx--btn--primary:hover {
  background-color: #333;
}

.table-header {
  font-size: calc(1.25vw + 1.25vh);
  text-align: center;
}

.table-container,
.buttons-container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.table-row-data-container {
  font-size: calc(1vw + 1vh);
}
