<div ibmRow>
    <div ibmCol>
        <ibm-tile class="clickeable-element" (click)="onPlanEstudiosTileClick()">
            <div ibmRow>
                <div ibmCol class="column-with-margin">
                    <h1>
                        <strong>
                            Plan de estudios
                        </strong>
                    </h1>
                </div>
            </div>
        </ibm-tile>
    </div>
</div>

<ng-container *ngIf="isPlanEstudiosTileVisible">
    <div ibmRow>
        <div ibmCol>
            <ibm-tile class="inner-clickeable-element" (click)="onPlanEstudios2011TileClick()">
                <div ibmRow>
                    <div ibmCol class="column-with-margin">
                        <h1>
                            <strong>
                                Plan de estudios 2011
                            </strong>
                        </h1>
                    </div>
                </div>
            </ibm-tile>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="isPlanEstudios2011TileVisible">
    <div class="buttons-container">
        <div ibmRow>
            <div ibmCol [columnNumbers]="{ max: 3, xlg: 3, lg: 3, md: 3, sm: 3 }">
                <button ibmButton="primary"
                    (click)="openLinkNewTab('https://drive.google.com/file/d/1Q5r03q7cH3CC3ZNHhRKJxnUc8uH6H4Cj/view')">
                    <app-action-bar-element [elementIconImagePath]="'../assets/images/download-logo.svg'"
                        [elementName]="'Detalle'">
                    </app-action-bar-element>
                </button>
            </div>
        </div>
    </div>

    <div class="explanation-quarter-container">
        <div class="explanation-container" [style.background-color]="'#24A148'">
            Requisito Cursada y Final
        </div>
        <div class="explanation-container" [style.background-color]="'#6FDC8C'">
            Requisito Cursada
        </div>
        <div class="explanation-container" [style.background-color]="'#C6C6C6'">
            Materia Seleccionada
        </div>
        <div class="explanation-container" [style.background-color]="'#FA4D56'">
            Correlativas
        </div>
    </div>
</ng-container>

<ng-container *ngIf="isPlanEstudios2011TileVisible">
    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="algebra_1.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, algebra_1)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)" (click)="showCatedraModalWindow(algebra_1)">
            {{ algebra_1.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="analisis_matematico_1.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, analisis_matematico_1)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(analisis_matematico_1)">
            {{ analisis_matematico_1.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="introduccion_a_la_programacion_1.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, introduccion_a_la_programacion_1)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(introduccion_a_la_programacion_1)">
            {{ introduccion_a_la_programacion_1.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="quimica.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, quimica)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)" (click)="showCatedraModalWindow(quimica)">
            {{ quimica.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="algebra_lineal.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, algebra_lineal)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)" (click)="showCatedraModalWindow(algebra_lineal)">
            {{ algebra_lineal.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="ciencias_de_la_computacion_1.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, ciencias_de_la_computacion_1)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(ciencias_de_la_computacion_1)">
            {{ ciencias_de_la_computacion_1.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="fisica_general.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, fisica_general)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)" (click)="showCatedraModalWindow(fisica_general)">
            {{ fisica_general.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="introduccion_a_la_programacion_2.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, introduccion_a_la_programacion_2)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(introduccion_a_la_programacion_2)">
            {{ introduccion_a_la_programacion_2.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="matematica_discreta.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, matematica_discreta)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(matematica_discreta)">
            {{ matematica_discreta.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="analisis_matematico_2.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, analisis_matematico_2)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(analisis_matematico_2)">
            {{ analisis_matematico_2.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="analisis_y_disenio_de_algoritmos_1.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, analisis_y_disenio_de_algoritmos_1)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(analisis_y_disenio_de_algoritmos_1)">
            {{ analisis_y_disenio_de_algoritmos_1.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="ciencias_de_la_computacion_2.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, ciencias_de_la_computacion_2)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(ciencias_de_la_computacion_2)">
            {{ ciencias_de_la_computacion_2.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="electricidad_y_magnetismo.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, electricidad_y_magnetismo)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(electricidad_y_magnetismo)">
            {{ electricidad_y_magnetismo.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="introduccion_a_la_arquitectura_de_sistemas.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, introduccion_a_la_arquitectura_de_sistemas)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(introduccion_a_la_arquitectura_de_sistemas)">
            {{ introduccion_a_la_arquitectura_de_sistemas.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="analisis_y_disenio_de_algoritmos_2.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, analisis_y_disenio_de_algoritmos_2)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(analisis_y_disenio_de_algoritmos_2)">
            {{ analisis_y_disenio_de_algoritmos_2.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="comunicacion_de_datos_1.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, comunicacion_de_datos_1)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(comunicacion_de_datos_1)">
            {{ comunicacion_de_datos_1.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="electronica_digital.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, electronica_digital)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(electronica_digital)">
            {{ electronica_digital.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="ingles.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, ingles)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)" (click)="showCatedraModalWindow(ingles)">
            {{ ingles.subject.name }} *
        </div>
        <div class="subject-container" [style.background-color]="probabilidades_y_estadistica.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, probabilidades_y_estadistica)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(probabilidades_y_estadistica)">
            {{ probabilidades_y_estadistica.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="arquitectura_de_computadoras_1.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, arquitectura_de_computadoras_1)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(arquitectura_de_computadoras_1)">
            {{ arquitectura_de_computadoras_1.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="estructuras_de_almacenamiento_de_datos.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, estructuras_de_almacenamiento_de_datos)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(estructuras_de_almacenamiento_de_datos)">
            {{ estructuras_de_almacenamiento_de_datos.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="metodologias_de_desarrollo_de_software_1.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, metodologias_de_desarrollo_de_software_1)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(metodologias_de_desarrollo_de_software_1)">
            {{ metodologias_de_desarrollo_de_software_1.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="programacion_orientada_a_objetos.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, programacion_orientada_a_objetos)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(programacion_orientada_a_objetos)">
            {{ programacion_orientada_a_objetos.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="bases_de_datos_1.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, bases_de_datos_1)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)" (click)="showCatedraModalWindow(bases_de_datos_1)">
            {{ bases_de_datos_1.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="investigacion_operativa_1.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, investigacion_operativa_1)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(investigacion_operativa_1)">
            {{ investigacion_operativa_1.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="lenguajes_de_programacion_1.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, lenguajes_de_programacion_1)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(lenguajes_de_programacion_1)">
            {{ lenguajes_de_programacion_1.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="programacion_exploratoria.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, programacion_exploratoria)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(programacion_exploratoria)">
            {{ programacion_exploratoria.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="sistemas_operativos_1.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, sistemas_operativos_1)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(sistemas_operativos_1)">
            {{ sistemas_operativos_1.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container"
            [style.background-color]="arquitectura_de_computadoras_y_tecnicas_digitales.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, arquitectura_de_computadoras_y_tecnicas_digitales)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(arquitectura_de_computadoras_y_tecnicas_digitales)">
            {{ arquitectura_de_computadoras_y_tecnicas_digitales.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="comunicacion_de_datos_2.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, comunicacion_de_datos_2)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(comunicacion_de_datos_2)">
            {{ comunicacion_de_datos_2.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="introduccion_al_calculo_diferencial_e_integral.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, introduccion_al_calculo_diferencial_e_integral)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(introduccion_al_calculo_diferencial_e_integral)">
            {{ introduccion_al_calculo_diferencial_e_integral.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="teoria_de_la_informacion.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, teoria_de_la_informacion)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(teoria_de_la_informacion)">
            {{ teoria_de_la_informacion.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="organizacion_empresarial.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, organizacion_empresarial)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(organizacion_empresarial)">
            {{ organizacion_empresarial.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="disenio_de_compiladores_1.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, disenio_de_compiladores_1)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(disenio_de_compiladores_1)">
            {{ disenio_de_compiladores_1.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="disenio_de_sistemas_de_software.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, disenio_de_sistemas_de_software)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(disenio_de_sistemas_de_software)">
            {{ disenio_de_sistemas_de_software.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="fundamentos_de_economia_y_proyectos_de_inversion.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, fundamentos_de_economia_y_proyectos_de_inversion)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(fundamentos_de_economia_y_proyectos_de_inversion)">
            {{ fundamentos_de_economia_y_proyectos_de_inversion.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="ingenieria_de_software.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, ingenieria_de_software)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(ingenieria_de_software)">
            {{ ingenieria_de_software.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="legislacion_y_gestion_ambiental.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, legislacion_y_gestion_ambiental)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)"
            (click)="showCatedraModalWindow(legislacion_y_gestion_ambiental)">
            {{ legislacion_y_gestion_ambiental.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="pps.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, pps)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)">
            {{ pps.subject.name }} **
        </div>
        <div class="subject-container" [style.background-color]="proyecto_final.color"
            (mouseover)="onMouseOverSubject(allPlan2011Subjects, proyecto_final)"
            (mouseleave)="onMouseLeaveSubject(allPlan2011Subjects)">
            {{ proyecto_final.subject.name }} ***
        </div>
    </div>

    <div ibmRow>
        <div ibmCol>
            <p>
                * Curso facultativo con un examen obligatorio. A los fines del régimen de correlatividades, esta materia
                es
                considerada como perteneciente al segundo cuatrimestre del segundo año.
            </p>
            <p>
                ** Para realizar la Práctica Profesional Supervisada, se necesita haber cursado el 60% de las cursadas
                de la
                carrera.
            </p>
            <p>
                *** Para poder realizar el Trabajo Final, se necesita haber cursado el 80% de las cursadas de la
                carrera.
            </p>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="isPlanEstudiosTileVisible">
    <div ibmRow>
        <div ibmCol>
            <ibm-tile class="inner-clickeable-element" (click)="onPlanEstudios2024TileClick()">
                <div ibmRow>
                    <div ibmCol class="column-with-margin">
                        <h1>
                            <strong>
                                Plan de estudios 2024
                            </strong>
                        </h1>
                    </div>
                </div>
            </ibm-tile>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="isPlanEstudios2024TileVisible">
    <div class="buttons-container">
        <div ibmRow>
            <div ibmCol [columnNumbers]="{ max: 3, xlg: 3, lg: 3, md: 3, sm: 3 }">
                <button ibmButton="primary"
                    (click)="openLinkNewTab('https://docs.google.com/viewer?a=v&pid=sites&srcid=c2xhYi5leGEudW5pY2VuLmVkdS5hcnxkb2N1bWVudG9zLWdvYmllcm5vLWZjZXh8Z3g6NGMwNjNjNGVkZWQ1Y2NhNg')">
                    <app-action-bar-element [elementIconImagePath]="'../assets/images/download-logo.svg'"
                        [elementName]="'RCA Plan 2024'">
                    </app-action-bar-element>
                </button>
            </div>
            <div ibmCol [columnNumbers]="{ max: 3, xlg: 3, lg: 3, md: 3, sm: 3 }">
                <button ibmButton="primary"
                    (click)="openLinkNewTab('https://docs.google.com/viewer?a=v&pid=sites&srcid=c2xhYi5leGEudW5pY2VuLmVkdS5hcnxkb2N1bWVudG9zLWdvYmllcm5vLWZjZXh8Z3g6NTUzOTRjMDAzN2ZmYzAzNw')">
                    <app-action-bar-element [elementIconImagePath]="'../assets/images/download-logo.svg'"
                        [elementName]="'RCA Plan 2024 Correlatividades'">
                    </app-action-bar-element>
                </button>
            </div>
        </div>
    </div>

    <div class="explanation-quarter-container">
        <div class="explanation-container" [style.background-color]="'#24A148'">
            Requisito Cursada y Final
        </div>
        <div class="explanation-container" [style.background-color]="'#6FDC8C'">
            Requisito Cursada
        </div>
        <div class="explanation-container" [style.background-color]="'#C6C6C6'">
            Materia Seleccionada
        </div>
        <div class="explanation-container" [style.background-color]="'#FA4D56'">
            Correlativas
        </div>
    </div>
</ng-container>

<ng-container *ngIf="isPlanEstudios2024TileVisible">
    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="ingles_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, ingles_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ ingles_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="introduccion_al_algebra_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, introduccion_al_algebra_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ introduccion_al_algebra_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="introduccion_a_la_programacion_1_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, introduccion_a_la_programacion_1_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ introduccion_a_la_programacion_1_plan_2024.subject.name }}
        </div>
        <div class="subject-container"
            [style.background-color]="introduccion_a_los_sistemas_informaticos_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, introduccion_a_los_sistemas_informaticos_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ introduccion_a_los_sistemas_informaticos_plan_2024.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="calculo_1_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, calculo_1_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ calculo_1_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="disenio_logico_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, disenio_logico_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ disenio_logico_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="introduccion_a_la_programacion_2_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, introduccion_a_la_programacion_2_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ introduccion_a_la_programacion_2_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="lenguajes_formales_y_automatas_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, lenguajes_formales_y_automatas_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ lenguajes_formales_y_automatas_plan_2024.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="algebra_lineal_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, algebra_lineal_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ algebra_lineal_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="analisis_y_disenio_de_algoritmos_1_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, analisis_y_disenio_de_algoritmos_1_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ analisis_y_disenio_de_algoritmos_1_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="arquitectura_de_computadoras_1_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, arquitectura_de_computadoras_1_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ arquitectura_de_computadoras_1_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="programacion_orientada_a_objetos_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, programacion_orientada_a_objetos_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ programacion_orientada_a_objetos_plan_2024.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="analisis_y_disenio_de_algoritmos_2_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, analisis_y_disenio_de_algoritmos_2_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ analisis_y_disenio_de_algoritmos_2_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="calculo_2_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, calculo_2_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ calculo_2_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="metodologias_de_desarrollo_de_software_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, metodologias_de_desarrollo_de_software_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ metodologias_de_desarrollo_de_software_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="redes_de_computadoras_1_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, redes_de_computadoras_1_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ redes_de_computadoras_1_plan_2024.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="base_de_datos_1_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, base_de_datos_1_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ base_de_datos_1_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="fisica_1_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, fisica_1_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ fisica_1_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="lenguajes_y_paradigmas_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, lenguajes_y_paradigmas_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ lenguajes_y_paradigmas_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="sistemas_operativos_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, sistemas_operativos_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ sistemas_operativos_plan_2024.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="base_de_datos_2_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, base_de_datos_2_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ base_de_datos_2_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="ingenieria_de_software_1_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, ingenieria_de_software_1_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ ingenieria_de_software_1_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="probabilidad_y_estadistica_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, probabilidad_y_estadistica_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ probabilidad_y_estadistica_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="programacion_web_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, programacion_web_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ programacion_web_plan_2024.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="fisica_2_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, fisica_2_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ fisica_2_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="organizacion_empresarial_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, organizacion_empresarial_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ organizacion_empresarial_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="redes_de_computadoras_2_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, redes_de_computadoras_2_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ redes_de_computadoras_2_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="teoria_de_la_informacion_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, teoria_de_la_informacion_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ teoria_de_la_informacion_plan_2024.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="arquitectura_de_computadoras_2_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, arquitectura_de_computadoras_2_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ arquitectura_de_computadoras_2_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="calidad_de_software_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, calidad_de_software_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ calidad_de_software_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="compiladores_e_interpretes_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, compiladores_e_interpretes_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ compiladores_e_interpretes_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="fundamentos_de_la_ciencia_de_datos_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, fundamentos_de_la_ciencia_de_datos_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ fundamentos_de_la_ciencia_de_datos_plan_2024.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container" [style.background-color]="ciberseguridad_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, ciberseguridad_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ ciberseguridad_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="ingenieria_de_software_2_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, ingenieria_de_software_2_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ ingenieria_de_software_2_plan_2024.subject.name }}
        </div>
        <div class="subject-container" [style.background-color]="inteligencia_artificial_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, inteligencia_artificial_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ inteligencia_artificial_plan_2024.subject.name }}
        </div>
    </div>

    <div class="quarter-container">
        <div class="subject-container"
            [style.background-color]="etica_y_legislacion_de_la_practica_profesional_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, etica_y_legislacion_de_la_practica_profesional_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ etica_y_legislacion_de_la_practica_profesional_plan_2024.subject.name }}
        </div>
        <div class="subject-container"
            [style.background-color]="formulacion_y_evaluacion_de_proyectos_tics_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, formulacion_y_evaluacion_de_proyectos_tics_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ formulacion_y_evaluacion_de_proyectos_tics_plan_2024.subject.name }}
        </div>
        <div class="subject-container"
            [style.background-color]="practicas_profesionales_supervisadas_y_proyecto_integrador_plan_2024.color"
            (mouseover)="onMouseOverSubject(allPlan2024Subjects, practicas_profesionales_supervisadas_y_proyecto_integrador_plan_2024)"
            (mouseleave)="onMouseLeaveSubject(allPlan2024Subjects)">
            {{ practicas_profesionales_supervisadas_y_proyecto_integrador_plan_2024.subject.name }}
        </div>
    </div>
</ng-container>

<ng-container *ngIf="isPlanEstudiosTileVisible">
    <div ibmRow>
        <div ibmCol>
            <ibm-tile class="inner-clickeable-element" (click)="onPlanTransicionTileVisible()">
                <div ibmRow>
                    <div ibmCol class="column-with-margin">
                        <h1>
                            <strong>
                                Plan de transición entre planes 2011 y 2024
                            </strong>
                        </h1>
                    </div>
                </div>
            </ibm-tile>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="isPlanTransicionTileVisible">
    <div class="table-container">
        <div ibmRow>
            <div ibmCol>
                <button ibmButton="primary"
                    (click)="openLinkNewTab('https://docs.google.com/viewer?a=v&pid=sites&srcid=c2xhYi5leGEudW5pY2VuLmVkdS5hcnxkb2N1bWVudG9zLWdvYmllcm5vLWZjZXh8Z3g6MWRkMjIyYmQ1NWY5NDA0OA')">
                    <app-action-bar-element [elementIconImagePath]="'../assets/images/download-logo.svg'"
                        [elementName]="'RCA Plan de transición'">
                    </app-action-bar-element>
                </button>
            </div>
        </div>

        <div ibmRow>
            <div ibmCol>
                <ibm-table-container>
                    <ibm-table [model]="planTransicionPlan2011Plan2024TableModel" [showSelectionColumn]="false"
                        [sortable]="false">
                        <tbody>
                            <tr>
                                <td class="no-data-table" colspan="4">
                                    <div>No data.</div>
                                </td>
                            </tr>
                        </tbody>
                    </ibm-table>
                </ibm-table-container>
            </div>
        </div>

        <div ibmRow>
            <div ibmCol>
                <p>
                    (*) Si la/ el estudiante hubiera aprobado una optativa con los contenidos comprendidos en la
                    asignatura de la derecha, se le otorgará la equivalencia, a partir de la solicitud del
                    estudiante, parcial o total de acuerdo a la optativa cursada y aprobada.
                </p>
            </div>
        </div>

        <div ibmRow>
            <div ibmCol>
                <p>
                    (**) Si la/el estudiante hubiera realizado Práctica Profesional Supervisada (PPS) o solicitado
                    su reconocimiento previo a la transición de plan de estudios, las mismas se reconocerán
                    como parte del trayecto PPS más Trabajo integrador
                </p>
            </div>
        </div>

        <div ibmRow>
            <div ibmCol>
                <p>
                    Si la/el estudiante hubiera realizado actividades de libre elección acreditadas por el HCA, las
                    mismas serán reconocidas con hs hasta completar 60 hs.
                </p>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #headerTemplate let-data="data">
    <div class="table-header" [title]="data.description">{{ data.title }}</div>
</ng-template>

<ng-template #columnTemplate let-data="data">
    <div class="table-row-data-container">
        <strong *ngIf="data.includes('Año')">{{ data }}</strong>
        <p *ngIf="!data.includes('Año')">{{ data }}</p>
    </div>
</ng-template>