@import "src/styles/utils.scss";

app-icon-with-text {
  display: contents;
}

.bx--header {
  .bx--header__name {
    svg {
      fill: white;
      margin-right: 0.5rem;
    }
  }

  .bx--header__name:hover {
    background-color: $principal-color-hover;
  }

  ibm-hamburger {
    position: fixed;
    right: 0;
    display: none;
  }

  @media (max-width: 1055px) {
    ibm-hamburger {
      display: block !important;
    }
  }

  .close-panel-button-container {
    position: absolute;
    right: 0;
    top: 0;
  }

  .sidenav-options-container {
    margin-top: 2rem;
  }
}

:host ::ng-deep {
  .bx--panel--expanded {
    background-color: $secondary-color;
  }

  .bx--side-nav__item {
    display: block;
    margin-bottom: 0.5rem;
  }

  ibm-sidenav-menu {
    .bx--side-nav__link {
      padding-left: 48px !important;
    }
  }

  .bx--side-nav__submenu:hover,
  .bx--side-nav__submenu:focus,
  .bx--side-nav__link:hover,
  .bx--side-nav__link:focus {
    background-color: $secondary-color-hover !important;
    color: $principal-color;
  }

  .bx--side-nav__icon {
    margin-right: 0;
  }

  .bx--btn--primary {
    background-color: $secondary-color;
    color: $principal-color;
  }

  .bx--btn--primary:hover,
  .bx--btn--primary:focus {
    background-color: $secondary-color-hover;
  }
}
