<ibm-modal [open]="true" (overlaySelected)="closeModal()">
    <ibm-modal-header (closeSelect)="closeModal()">
        <h2>Correlativas</h2>
    </ibm-modal-header>

    <div class="correlatives-container" *ngIf="subjectsThatObstructCursadas.length > 0">
        <h3>Cursadas</h3>
        <ng-container *ngFor="let correlative of subjectsThatObstructCursadas">
            <div ibmRow>
                <div ibmCol>
                    <app-catedra [subject]="correlative.subject"></app-catedra>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="correlatives-container" *ngIf="subjectsThatObstructFinales.length > 0">
        <h3>Finales</h3>
        <ng-container *ngFor="let correlative of subjectsThatObstructFinales">
            <div ibmRow>
                <div ibmCol>
                    <app-catedra [subject]="correlative.subject"></app-catedra>
                </div>
            </div>
        </ng-container>
    </div>
</ibm-modal>