<div ibmRow>
    <div ibmCol>
        <ibm-dropdown label="Carreras" placeholder="Selecciona una carrera" (selected)="onSelectedCareerChange($event)">
            <ibm-dropdown-list [items]="careers_dropdown_items"></ibm-dropdown-list>
        </ibm-dropdown>
    </div>
    <div ibmCol>
        <ibm-dropdown label="Cuatrimestres" placeholder="Selecciona un cuatrimestre"
            (selected)="onSelectedQuarterChange($event)">
            <ibm-dropdown-list [items]="quarters_dropdown_items"></ibm-dropdown-list>
        </ibm-dropdown>
    </div>
    <div ibmCol>
        <ibm-label>Docente</ibm-label>
        <div class="bx--search">
            <input class="bx--search-input" type="search" placeholder='Buscar por nombre de docente' autocomplete='on'
                (input)="onChangeSearchingByTeacher($event)">
            <svg class="bx--search-magnifier-icon" ibmIcon="search" size="16"></svg>
        </div>
    </div>
    <div ibmCol>
        <ibm-label>Cátedra</ibm-label>
        <div class="bx--search">
            <input class="bx--search-input" type="search" placeholder='Buscar por nombre de cátedra' autocomplete='on'
                (input)="onChangeSearchingBySubject($event)">
            <svg class="bx--search-magnifier-icon" ibmIcon="search" size="16"></svg>
        </div>
    </div>
</div>
<div ibmRow>
    <ng-container *ngFor="let subject of subjectsToDisplay">
        <div ibmCol [columnNumbers]="{ max: 4, xlg: 4, lg: 4, md: 4, sm: 4 }">
            <app-catedra [subject]="subject" [allSubjects]="allSubjects">
            </app-catedra>
        </div>
    </ng-container>
</div>