@import "src/styles/carbon-utils.scss";

@include adjustPaddingInIBMGridAndCol();

.catedras-container {
  position: relative;
  top: 6rem;
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
}
