@import "src/styles/carbon-utils.scss";

@include adjustPaddingInIBMGridAndCol();

.catedras-container {
  position: relative;
  top: 6rem;
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
}

ibm-tile {
  height: 100%;
  border: 2px solid black;
}

ibm-tag {
  margin-top: 1rem;
  font-size: 1rem;
}

.bx--side-nav__divider {
  height: 3px;
  margin: 0.5rem 0.5rem;
  background-color: black;
}

.info-catedra {
  margin-left: 0.5rem;
}

.buttons-container {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.bx--btn--primary {
  width: 100%;
  background-color: black;
  padding: calc(0.875rem - 3px) 0px calc(0.875rem - 3px) 15px;
}

.bx--btn--primary:hover {
  background-color: #333;
}

:host ::ng-deep {
  .action-bar-element-container {
    img {
      margin-right: 1.5rem !important;
    }

    span {
      font-size: 1.25rem;
    }
  }
}
