@import "src/styles/carbon-utils.scss";

@include adjustPaddingInIBMGridAndCol();

.filters-container {
  margin-bottom: 1.25rem;
}

.bx--search-magnifier-icon {
  left: 0.75rem;
}

:host ::ng-deep {
  .bx--search,
  .bx--dropdown {
    min-width: 10rem;
  }

  .bx--search-input {
    height: 40px;
  }
}
