.bx--header {
  top: 3rem;
  background-color: yellow;
}

:host ::ng-deep {
  .bx--header__menu-item {
    background-color: yellow;
    color: black;

    .bx--header__menu-arrow {
      fill: black;
    }
  }

  .bx--header__menu-item:hover,
  .bx--header__menu-item:focus {
    background-color: rgb(191, 191, 0);
    color: black;
  }

  .bx--header__menu-title + .bx--header__menu .bx--header__menu-item:hover {
    background-color: rgb(191, 191, 0);
  }
}
