<header class="bx--header">
    <ibm-header-navigation style="flex-grow: 1;">
    </ibm-header-navigation>
    <ibm-header-navigation>
        <ibm-header-menu title="Carreras">
            <ibm-header-item (click)="navigateTo('carreras/ingenieria-de-sistemas')">
                Ingeniería de Sistemas
            </ibm-header-item>
            <ibm-header-item>
                TUDAI
            </ibm-header-item>
        </ibm-header-menu>
    </ibm-header-navigation>
    <ibm-header-navigation>
        <ibm-header-item (click)="navigateTo('catedras')">
            Cátedras
        </ibm-header-item>
    </ibm-header-navigation>
    <ibm-header-navigation>
        <ibm-header-item>
            Cursos gratuitos
        </ibm-header-item>
    </ibm-header-navigation>
    <ibm-header-navigation style="flex-grow: 1;">
    </ibm-header-navigation>
</header>