.bx--header {
  justify-content: center;
  top: 3rem;
  background-color: yellow;
}

@media (max-width: 1055px) {
  .bx--header {
    display: none !important;
  }
}

:host ::ng-deep {
  .bx--header__menu-item {
    background-color: yellow;
    color: black;

    .bx--header__menu-arrow {
      fill: black;
    }
  }

  .bx--header__menu-toggle {
    svg {
      fill: black;
    }
  }

  .bx--header__menu-item:hover,
  .bx--header__menu-item:focus,
  .bx--header__menu-toggle:hover {
    background-color: rgb(191, 191, 0);
    color: black;
  }

  .bx--header__menu-title + .bx--header__menu .bx--header__menu-item:hover {
    background-color: rgb(191, 191, 0);
  }

  .bx--header__nav::before {
    display: none;
  }
}
