<header class="bx--header">
    <ng-container *ngFor="let pageSection of pageSections">
        <ibm-header-navigation>
            <ng-container *ngIf="pageSection.subSections">
                <ibm-header-menu [title]="pageSection.name">
                    <ng-container *ngFor="let subSection of pageSection.subSections">
                        <ibm-header-item (click)="navigateTo(subSection.route)">
                            {{subSection.name}}
                        </ibm-header-item>
                    </ng-container>
                </ibm-header-menu>
            </ng-container>

            <ng-container *ngIf="!pageSection.subSections">
                <ibm-header-item (click)="navigateTo(pageSection.route)">
                    {{pageSection.name}}
                </ibm-header-item>
            </ng-container>
        </ibm-header-navigation>
    </ng-container>
</header>