<div ibmRow>
    <div ibmCol>
        <h1>
            <strong>
                Constructor de autómatas
            </strong>
        </h1>
    </div>
</div>

<div ibmRow>
    <div ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 8, sm: 6 }">
        <canvas #canvas id="canvas" width="800" height="600">
            <span class="error">Your browser does not support<br>the HTML5 &lt;canvas&gt; element</span>
        </canvas>
    </div>
</div>

<div ibmRow>
    <div ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 8, sm: 6 }">
        <div ibmRow>
            <div ibmCol [columnNumbers]="{ max: 3, xlg: 3, lg: 3, md: 3, sm: 6 }">
                <button ibmButton="primary" [disabled]="this.nodes.length === 0" (click)="clearCanvas()">
                    Borrar todo
                </button>
            </div>
            <div ibmCol [columnNumbers]="{ max: 3, xlg: 3, lg: 3, md: 3, sm: 6 }">
                <button ibmButton="primary" [disabled]="this.nodes.length === 0" (click)="captureAndDownloadCanvas()">
                    Descargar PNG
                </button>
            </div>
        </div>
    </div>
</div>