@import "src/styles/utils.scss";

@include adjustPaddingInIBMGridAndCol();

canvas {
  display: block;
  border: 1px solid black;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#canvasContainer {
  position: relative;

  .icons-container {
    position: absolute;
    background-color: $principal-color;
    right: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    top: 0.5rem;
    border-top-right-radius: 20px;

    .png-icon {
      fill: white;
      margin-right: 1rem;
    }

    .trash-can-icon {
      fill: white;
    }

    .trash-can-icon:hover,
    .png-icon:hover {
      cursor: pointer;
      fill: #cbcbcb;
    }
  }
}

:host ::ng-deep {
  border-collapse: unset;

  .bx--data-table {
    th,
    td {
      min-width: 130px;
      border: 1px solid black !important;
    }
  }
}
