<div ibmRow>
    <div ibmCol>
        <h1>
            <strong>
                Constructor de autómatas
            </strong>
        </h1>
    </div>
</div>

<div class="white-space"></div>

<div ibmRow>
    <div ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 8, sm: 6 }">
        <ibm-label>
            Introduzca el alfabeto o conjunto finito de símbolos de entrada, separe los elementos con comas
            <input ibmText type="text" [value]="entrySymbols" (input)="onEntrySymbolsChange($event)">
        </ibm-label>
    </div>
</div>

<div class="white-space"></div>

<div ibmRow>
    <div #canvasContainer id="canvasContainer" ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 8, sm: 6 }">
        <ng-container *ngIf="this.nodes.length === 0">
            <div class="instructions-container">
                <div class="instructions" (click)="showInstructionsModalWindow()">
                    <p>Instrucciones</p>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="this.nodes.length !== 0">
            <div class="icons-container">
                <div class="instructions" (click)="showInstructionsModalWindow()">
                    <p>Instrucciones</p>
                </div>
                <svg class="png-icon" ibmIcon="PNG" size="24" (click)="captureAndDownloadCanvas()"></svg>
                <svg class="trash-can-icon" ibmIcon="trash-can" size="24" (click)="clearCanvas()"></svg>
            </div>
        </ng-container>
        <canvas #canvas id="canvas">
            <span class="error">Your browser does not support<br>the HTML5 &lt;canvas&gt; element</span>
        </canvas>
        <div class="info-container">
            <svg ibmIcon="information" size="16"></svg>
            <p>
                Esta es una adaptación del código que se encuentra en: <a href="https://github.com/evanw/fsm"
                    target="_blank">https://github.com/evanw/fsm</a>
            </p>
        </div>
    </div>
    <div ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 8, sm: 6 }">
        <ibm-table-container>
            <ibm-table [model]="matrizTransicionEstadosTableModel" [showSelectionColumn]="false" [sortable]="false">
                <tbody>
                    <tr>
                        <td class="no-data-table" colspan="4">
                            <div>No data.</div>
                        </td>
                    </tr>
                </tbody>
            </ibm-table>
        </ibm-table-container>
        <ng-container *ngIf="!matrizTransicionEstadosTableModel.getIfIsAutomataFinitoNoDeterministico()">
            <div class="automata-5-upla-container">
                <p>AFD = <{{ getConjuntoFinitoDeEstados() }}, {{ getConjuntoFinitoSimbolosDeEntrada() }}, δ, {{
                        getInitialNode() }}, {{ getFinalNodes() }}>
                </p>
            </div>
        </ng-container>
        <ng-container *ngIf="matrizTransicionEstadosTableModel.getIfIsAutomataFinitoNoDeterministico()">
            <div class="automata-5-upla-container">
                <p>AFND = <{{ getConjuntoFinitoDeEstados() }}, {{ getConjuntoFinitoSimbolosDeEntrada() }}, δ, {{
                        getInitialNode() }}, {{ getFinalNodes() }}>
                </p>
            </div>
            <div class="AFD-equivalente-button-container" ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 8, sm: 6 }">
                <button ibmButton="primary" class="show-steps-button" (click)="showAFDEquivalent()">
                    AFD equivalente
                </button>
            </div>
        </ng-container>
    </div>
</div>

<div ibmRow>
    <div ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 8, sm: 6 }">
        <div ibmRow>
            <div ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 8, sm: 6 }">
                <ibm-label [invalid]="isInvalidStateToTestString" [invalidText]="invalidStateDescription">
                    Cadena a probar
                    <div class="string-to-test-container">
                        <input ibmText type="text" (input)="onStringToTestChange($event)">
                        <ng-container *ngIf="stringToTest && !isInvalidStateToTestString">
                            <ng-container *ngIf="isValidString">
                                <svg class="checkmark-icon" ibmIcon="checkmark--outline" size="32"
                                    (click)="captureAndDownloadCanvas()"></svg>
                            </ng-container>
                            <ng-container *ngIf="!isValidString">
                                <svg class="misuse-icon" ibmIcon="misuse--outline" size="32"
                                    (click)="captureAndDownloadCanvas()"></svg>
                            </ng-container>
                        </ng-container>
                    </div>
                </ibm-label>
            </div>
            <div class="show-steps-button-container" ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 8, sm: 6 }">
                <ng-container *ngIf="stringToTest && !isInvalidStateToTestString">
                    <button ibmButton="primary" class="show-steps-button" (click)="showStepByStepModalWindow()">
                        Mostrar pasos
                    </button>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template #headerTemplate let-data="data">
    <div class="table-header" [title]="data.description">{{ data.title }}</div>
</ng-template>

<ng-template #columnTemplate let-data="data">
    <div class="table-row-data-container">
        <strong *ngIf="data.includes('Año')">{{ data }}</strong>
        <p *ngIf="!data.includes('Año')">{{ data }}</p>
    </div>
</ng-template>