<ibm-file-uploader [accept]="['.pdf', '.png', '.jpg', '.jpeg']" [drop]="true" [dropText]="'Sube tus aportes aquí'"
    [multiple]="true" [(files)]="uploadFiles" (filesChange)="onDroppedFile($event)">
</ibm-file-uploader>

<ng-container *ngIf="isFilesInputNameVisible">
    <ibm-label>Ingresa un nombre representativo para los archivos</ibm-label>

    <ibm-combo-box [appendInline]="false" [label]="'Cátedra'" [invalid]="!subjectFileName" [theme]="'light'"
        [items]="subjectsComboBoxItems" (selected)="onSubjectFileNameChange($event)" (close)="onClearSubjectFileName()">
        <ibm-dropdown-list></ibm-dropdown-list>
    </ibm-combo-box>

    <ibm-combo-box [appendInline]="false" [label]="'Tipo de aporte'" [invalid]="!typeOfContributionFileName"
        [theme]="'light'" [items]="typeOfContributionsComboBoxItems"
        (selected)="onTypeOfContributionFileNameChange($event)" (close)="onClearTypeOfContributionFileName()">
        <ibm-dropdown-list></ibm-dropdown-list>
    </ibm-combo-box>

    <ibm-combo-box [appendInline]="false" [label]="'Año'" [invalid]="!yearFileName" [theme]="'light'"
        [items]="yearComboBoxItems" (selected)="onYearFileNameChange($event)" (close)="onClearYearFileName()">
        <ibm-dropdown-list></ibm-dropdown-list>
    </ibm-combo-box>

    <ibm-combo-box [appendInline]="false" [label]="'Llamado'" [invalid]="!monthFileName" [theme]="'light'"
        [items]="monthComboBoxItems" (selected)="onMonthFileNameChange($event)" (close)="onClearMonthYearFileName()">
        <ibm-dropdown-list></ibm-dropdown-list>
    </ibm-combo-box>
</ng-container>

<button ibmButton="primary" [disabled]="isSubmitFilesButtonDisabled" (click)="onSubmitFiles()">Subir aportes</button>

<ibm-modal [open]="isFileSuccessfullySubmittedModalOpen" (overlaySelected)="closeFileSuccessfullySubmittedModal()">
    <ibm-modal-header (closeSelect)="closeFileSuccessfullySubmittedModal()">
        <h3>Gracias por tu aporte!</h3>
    </ibm-modal-header>

    <div class="modal-content-container">
        <div class="image-container">
            <img src="assets/images/result-right-icon.png">
        </div>
        <div class="text-container">
            <p>Estaremos evaluando el aporte subido para que pronto pueda verse en la página</p>
        </div>
    </div>
</ibm-modal>

<ibm-modal [open]="isFileUnsuccessfullySubmittedModalOpen" (overlaySelected)="closeFileUnsuccessfullySubmittedModal()">
    <ibm-modal-header (closeSelect)="closeFileUnsuccessfullySubmittedModal()">
        <h3>Algo salió mal</h3>
    </ibm-modal-header>

    <div class="modal-content-container">
        <div class="image-container">
            <img src="assets/images/result-wrong-icon.png">
        </div>
        <div class="text-container">
            <p>
                La operación para subir el archivo falló, por favor prueba de nuevo y si el problema
                sigue persistiendo por favor reportalo como mensaje privado en
                <a href="https://www.instagram.com/laguiaexacta/">instagram</a>
            </p>
        </div>
    </div>
</ibm-modal>