<ibm-file-uploader [accept]="['.pdf', '.png', '.jpg', '.jpeg']" [drop]="true" [dropText]="'Sube tus aportes aquí'"
    [multiple]="true" [(files)]="uploadFiles" (filesChange)="onDroppedFile($event)">
</ibm-file-uploader>

<ng-container *ngIf="isFilesInputNameVisible">
    <input ibmText placeholder="Ingresa un nombre representativo para los archivos" [value]="filesName"
        (change)="onFileInputNameChange($event)">
</ng-container>

<button ibmButton="primary" [disabled]="isSubmitFilesButtonDisabled" (click)="onSubmitFiles()">Subir aportes</button>