@import "src/styles/utils.scss";
@import "~carbon-components/scss/globals/scss/colors";

input {
  margin-top: 1rem;
}

.bx--btn--primary {
  background-color: $principal-color;
  padding-right: 15px;
  margin-top: 1rem;
  justify-content: center;
  font-size: calc(1vw + 1vh);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.bx--btn--primary:hover {
  background-color: $principal-color-hover;
}

:host ::ng-deep {
  .bx--file-browse-btn {
    max-width: none;
    color: $ibm-color__warm-gray-60;
  }

  .bx--file__drop-container {
    height: 40rem;
    justify-content: center;
    align-items: center;
    border: 5px dashed #8d8d8d;
    font-size: calc(2vw + 2vh);
  }

  ibm-label {
    margin-top: 2rem;
    margin-bottom: 1rem;

    .bx--label {
      font-size: calc(1vw + 1vh);
    }
  }

  .bx--combo-box {
    margin-bottom: 1rem;
  }
}
