@import 'carbon-utils';

$principal-color: #1F1F1F;
$principal-color-hover: $ibm-color__cool-gray-90;
$secondary-color: #FEF102;
$secondary-color-hover: rgb(191, 191, 0);
$input-font-size-in-rem: 0.875rem;
$header--height: $layout-05;
$semibold: 600;
$regular: 400;
$positive-color: $support-02;
$negative-color: $support-01;
$neutral-color: $support-03;

@mixin centered-flex-element {
  width: 100%;
  height: 100%;
  display: flex;

  > * {
    margin: auto;
  }
}

@mixin bottom-border-on-sm {
  @media screen and (max-width: 1055px) {
    border-bottom: 1px solid $ui-04;
  }
}

@mixin only-gt-sm {
  @media screen and (max-width: 1055px) {
    display: none;
  }
}

@mixin only-sm {
  @media screen and (min-width: 1055px) {
    display: none;
  }
}

@mixin right-border-on-gt-sm {
  @media screen and (min-width: 1055px) {
    border-right: 1px solid $ui-04;
  }
}

@mixin disabled {
  color: $disabled-02;
  cursor: not-allowed;
}

@mixin bottomPaddingInIbmColumn($padding: $spacing-06) {
  [ibmCol] {
    padding-bottom: $padding;
  }
}

@mixin tooltip-data-container {
  display: flex;
  flex-direction: column;
  background: #eee;
  width: 200%;
  height: 100%;
  margin: -1rem;
  padding: 1rem;
}

@mixin icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin no-data-table {
  @include type-style("productive-heading-05");

  color: darkgray;
  align-self: center;
  padding-top: 50px;
  padding-left: 220px;
  padding-bottom: 50px;
}
