@import "src/styles/utils.scss";

@include adjustPaddingInIBMGridAndCol();

.parsing-ascendente-section-container {
  min-height: 50vh;
}

.yellow-button {
  padding: 0.5rem;
  line-break: anywhere;
  font-size: 20px;
  justify-content: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.terminales-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.terminal {
  font-size: 1rem;
}

.terminal::before {
  content: "-";
  margin-right: 0.5rem;
}
