@import "src/styles/utils.scss";

@include adjustPaddingInIBMGridAndCol();

.parsing-ascendente-section-container {
  min-height: 50vh;
}

.yellow-button {
  width: 200px;
  padding: 0.5rem;
  line-break: anywhere;
  font-size: 20px;
  justify-content: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.terminales-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.terminal-container {
  display: flex;
  align-items: center;
}

.terminal {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-right: 1.5rem;
}

.close-icon {
  cursor: pointer;
  margin-top: 0.125rem;
  width: 14px;
  height: 14px;
}

.close-icon:hover {
  background-color: lightgray !important;
}

.terminal::before {
  content: "-";
  margin-right: 0.5rem;
  display: inline-block;
  vertical-align: middle;
}
