<div class="parsing-ascendente-section-container">
    <div ibmRow>
        <div ibmCol>
            <h1>
                <strong>
                    Parsing Ascendente
                </strong>
            </h1>
        </div>
    </div>

    <div ibmRow>
        <div ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 8, sm: 6 }">
            <div ibmRow>
                <div ibmCol>
                    <button class="yellow-button" ibmButton="primary" (click)="showAgregarTerminalModalWindow()">
                        Agregar terminal
                    </button>
                </div>
            </div>
            <div ibmRow>
                <div ibmCol>
                    <ul class="terminales-container">
                        <ng-container *ngFor="let terminal of getParsingAscendenteTerminales()">
                            <div class="terminal-container">
                                <li class="terminal">
                                    {{ terminal }}
                                </li>
                                <svg class="close-icon" ibmIcon="close" size="16"
                                    (click)="removeParsingAscendenteTerminal(terminal)">
                                </svg>
                            </div>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
        <div ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 8, sm: 6 }">
            <div ibmRow>
                <div ibmCol>
                    <button class="yellow-button" ibmButton="primary" (click)="showAgregarNoTerminalModalWindow()">
                        Agregar no terminal
                    </button>
                </div>
            </div>
            <div ibmRow>
                <div ibmCol>
                    <ul class="terminales-container">
                        <ng-container *ngFor="let noTerminal of getParsingAscendenteNoTerminales()">
                            <div class="terminal-container">
                                <li class="terminal">
                                    {{ noTerminal }}
                                </li>
                                <svg class="close-icon" ibmIcon="close" size="16"
                                    (click)="removeParsingAscendenteNoTerminal(noTerminal)">
                                </svg>
                            </div>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>