<header class="bx--header">
    <a class="bx--header__name" href="#">
        <span class="bx--header__name--prefix">La guía exacta</span>
    </a>
    <ibm-header-navigation style="flex-grow: 1;">
    </ibm-header-navigation>
    <ibm-header-navigation>
        <ibm-header-item>
            <app-action-bar-element [elementIconImagePath]="'assets/images/instagram-logo.svg'"
                [elementName]="'La guía exacta'">
            </app-action-bar-element>
        </ibm-header-item>
        <ibm-header-item (click)="openLinkNewTab('https://www.youtube.com/@laguiaexacta')">
            <app-action-bar-element [elementIconImagePath]="'assets/images/you-tube-logo.svg'"
                [elementName]="'La guía exacta'"></app-action-bar-element>
        </ibm-header-item>
        <ibm-header-item (click)="openLinkNewTab('https://www.instagram.com/amu.mpe.exactas/')">
            <app-action-bar-element [elementIconImagePath]="'assets/images/instagram-logo.svg'" [elementName]="'AMU'">
            </app-action-bar-element>
        </ibm-header-item>
        <ibm-header-item (click)="openLinkNewTab('https://moodle.exa.unicen.edu.ar/')">
            <app-action-bar-element [elementIconImagePath]="'assets/images/moodle-logo.svg'" [elementName]="'Moodle'">
            </app-action-bar-element>
        </ibm-header-item>
        <ibm-header-item (click)="openLinkNewTab('https://guarani.unicen.edu.ar/autogestion/exactas/')">
            <app-action-bar-element class="siu-logo" [elementIconImagePath]="'assets/images/siu-logo.png'"
                [elementName]="'Guaraní'">
            </app-action-bar-element>
        </ibm-header-item>
        <ibm-header-item (click)="openLinkNewTab('https://exa.unicen.edu.ar/')">
            <app-action-bar-element [elementIconImagePath]="'assets/images/www-logo.svg'" [elementName]="'Exactas'">
            </app-action-bar-element>
        </ibm-header-item>
    </ibm-header-navigation>
</header>