<header class="bx--header">
    <a class="bx--header__name" href="#">
        <svg ibmIcon="home" size="24"></svg>
        <span class="bx--header__name--prefix">La guía exacta</span>
    </a>
    <ibm-header-navigation style="flex-grow: 1;">
    </ibm-header-navigation>
    <ibm-header-navigation>
        <ibm-header-item (click)="openLinkNewTab('https://www.instagram.com/laguiaexacta/')">
            <app-action-bar-element [elementIconImagePath]="'assets/images/instagram-logo.svg'"
                [elementName]="'La guía exacta'">
            </app-action-bar-element>
        </ibm-header-item>
        <ibm-header-item (click)="openLinkNewTab('https://www.youtube.com/@laguiaexacta')">
            <app-action-bar-element [elementIconImagePath]="'assets/images/you-tube-logo.svg'"
                [elementName]="'La guía exacta'"></app-action-bar-element>
        </ibm-header-item>
        <ibm-header-item (click)="openLinkNewTab('https://www.instagram.com/amu.mpe.exactas/')">
            <app-action-bar-element [elementIconImagePath]="'assets/images/instagram-logo.svg'" [elementName]="'AMU'">
            </app-action-bar-element>
        </ibm-header-item>
        <ibm-header-item (click)="openLinkNewTab('https://moodle.exa.unicen.edu.ar/')">
            <app-action-bar-element [elementIconImagePath]="'assets/images/www-logo.svg'" [elementName]="'Moodle'">
            </app-action-bar-element>
        </ibm-header-item>
        <ibm-header-item (click)="openLinkNewTab('https://guarani.unicen.edu.ar/autogestion/exactas/')">
            <app-action-bar-element [elementIconImagePath]="'assets/images/www-logo.svg'" [elementName]="'Guaraní'">
            </app-action-bar-element>
        </ibm-header-item>
        <ibm-header-item (click)="openLinkNewTab('https://exa.unicen.edu.ar/')">
            <app-action-bar-element [elementIconImagePath]="'assets/images/www-logo.svg'" [elementName]="'Exactas'">
            </app-action-bar-element>
        </ibm-header-item>
    </ibm-header-navigation>

    <ibm-hamburger (click)="updateRightPanelVisibility()"></ibm-hamburger>
    <ibm-panel [expanded]="isRightPanelVisible">
        <div class="close-panel-button-container">
            <button ibmButton="primary" [iconOnly]="true" (click)="updateRightPanelVisibility()">
                <svg class="bx--btn__icon" ibmIcon="close" size="16"></svg>
            </button>
        </div>
        <div class="sidenav-options-container">
            <ng-container *ngFor="let pageSection of pageSections">
                <ng-container *ngIf="pageSection.subSections">
                    <ibm-sidenav-menu [title]="pageSection.name">
                        <ng-container *ngFor="let subSection of pageSection.subSections">
                            <ibm-sidenav-item [route]="[subSection.route]">
                                {{subSection.name}}
                            </ibm-sidenav-item>
                        </ng-container>
                    </ibm-sidenav-menu>
                </ng-container>

                <ng-container *ngIf="!pageSection.subSections">
                    <ibm-sidenav-item [route]="[pageSection.route]">
                        {{pageSection.name}}
                    </ibm-sidenav-item>
                </ng-container>
            </ng-container>
        </div>
    </ibm-panel>
</header>