.bar-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7.5%;
  background-color: black;
}

.actions-bar-container {
  display: flex;
  align-items: center;
  width: 50%;
  height: 75%;
  margin-left: 50%;
}

app-action-bar-element {
  display: contents;
}

.siu-logo ::ng-deep {
  img {
    width: 24px;
  }
}
