.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  margin: 0;
}

.page-content {
  position: relative;
  top: 6rem;
  flex: 1;
  height: auto;
  margin: 0;
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
}
