@import "src/styles/carbon-utils.scss";

@include adjustPaddingInIBMGridAndCol();

.bx--btn--primary {
  padding-right: 15px;
  background-color: black;
}

.bx--btn--primary:hover {
  background-color: #333;
}
