<ng-container *ngIf="!areFinalesLoading; else loadingFinalesTemplate">
    <div ibmRow>
        <div ibmCol [columnNumbers]="{ max: 3, xlg: 3, lg: 3, md: 3, sm: 3 }">
            <ibm-dropdown label="Año" placeholder="Selecciona un año" (selected)="onSelectedYearChange($event)">
                <ibm-dropdown-list [items]="yearDropdownItems"></ibm-dropdown-list>
            </ibm-dropdown>
        </div>
        <div ibmCol [columnNumbers]="{ max: 3, xlg: 3, lg: 3, md: 3, sm: 3 }">
            <ibm-dropdown label="Llamado" placeholder="Selecciona un llamado"
                (selected)="onSelectedMonthChange($event)">
                <ibm-dropdown-list [items]="monthDropdownItems"></ibm-dropdown-list>
            </ibm-dropdown>
        </div>
    </div>
    <ng-container *ngIf="finales.length > 0 && finalesToShow.length > 0; else noFinalesToShowTemplate">
        <div ibmRow *ngFor="let final of finalesToShow">
            <div ibmCol>
                <ibm-tile>
                    <div ibmRow>
                        <div ibmCol style="display: flex; align-items: center; margin-left: 1rem;">
                            <h3 style="font-size: calc(1.5vw + 1.5vh);"> {{ final.name }} </h3>
                        </div>
                    </div>
                    <div ibmRow>
                        <div ibmCol style="display: flex; align-items: center; margin-left: 1rem;">
                            <button ibmButton="primary" (click)="onVerFinalButtonClick(final)">
                                <p *ngIf="!final.showFile">Ver final</p>
                                <p *ngIf="final.showFile">Ocultar final</p>
                            </button>
                        </div>
                    </div>
                    <div ibmRow *ngIf="final.showFile">
                        <div ibmCol>
                            <ng-container *ngIf="final.fileUrl; else loadingPdfTemplate">
                                <div class="final-container">
                                    <embed [src]="final.fileUrl | safe" style="width: 100%; height: 750px;"
                                        type="application/pdf">
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ibm-tile>
            </div>
        </div>
    </ng-container>
</ng-container>

<ng-template #loadingFinalesTemplate>
    <div ibmRow *ngFor="let i of [0,1,2,3,4]">
        <div ibmCol>
            <ibm-tile>
                <ibm-skeleton-placeholder></ibm-skeleton-placeholder>
            </ibm-tile>
        </div>
    </div>
</ng-template>

<ng-template #loadingPdfTemplate>
    <div class="final-container">
        <ibm-skeleton-placeholder style="width: 100%; height: 750px;"></ibm-skeleton-placeholder>
    </div>
</ng-template>

<ng-template #noFinalesToShowTemplate>
    <div ibmRow>
        <div ibmCol>
            <ibm-tile class="no-finals-tile">
                <p *ngIf="finales.length > 0">
                    <span>No se encontraron finales para el año y mesa de llamado elegido</span>
                    <br>
                    <br>
                    <span>
                        Si tienes algún final para este llamado, no dudes en
                        <br>
                        <a href="#/subir-aportes">subir tu aporte</a>
                    </span>
                </p>
                <p *ngIf="!(finales.length > 0)">
                    <span>No se encontraron finales para esta materia</span>
                    <br>
                    <br>
                    <span>
                        Si tienes algún final de esta materia, no dudes en
                        <br>
                        <a href="#/subir-aportes">subir tu aporte</a>
                    </span>
                </p>
            </ibm-tile>
        </div>
    </div>
</ng-template>