@import "src/styles/carbon-utils.scss";

@include adjustPaddingInIBMGridAndCol();

ibm-tile {
  height: 100%;
  border: 2px solid black;
}

ibm-tag {
  margin-top: 1rem;
  font-size: 1rem;
}

app-catedra-column-with-button {
  display: contents;
}

.bx--side-nav__divider {
  height: 3px;
  margin: 0.5rem 0.5rem;
  background-color: black;
}

.info-catedra {
  margin-left: 0.5rem;
}

.buttons-container {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
