<ibm-tile>
    <h3>{{subject.name}}</h3>
    <ibm-tag type="green">{{subject.career}}</ibm-tag>
    <div ibmRow style="align-items: end;">
        <div ibmCol>
            <ibm-dropdown label="Estado de la materia" placeholder="Selecciona el estado de la materia"
                (selected)="onSelectedStatusChange($event)">
                <ibm-dropdown-list [items]="subjectStatus"></ibm-dropdown-list>
            </ibm-dropdown>
        </div>
    </div>
    <hr class="bx--side-nav__divider" />
    <span class="info-catedra"><strong>Cuatrimestre:</strong> {{subject.quarter}}</span>
    <hr class="bx--side-nav__divider" />
    <span class="info-catedra"><strong>Docente:</strong> {{subject.teacher}}</span>
    <hr class="bx--side-nav__divider" />
    <span class="info-catedra"><strong>Email de contacto:</strong> {{subject.contactEmail}}</span>
    <hr class="bx--side-nav__divider" />
    <div class="buttons-container">
        <div ibmRow>
            <app-catedra-column-with-button [elementIconImagePath]="'../assets/images/lupa.svg'"
                [elementName]="'Correlativas'" (onButtonClickEmitter)="showCorrelativesModalWindow()">
            </app-catedra-column-with-button>

            <app-catedra-column-with-button [elementIconImagePath]="'../assets/images/lupa.svg'"
                [elementName]="'Bloqueos'" (onButtonClickEmitter)="showSubjectsThatObstructModalWindow()">
            </app-catedra-column-with-button>

            <app-catedra-column-with-button *ngIf="subject.modalidadLink"
                [elementIconImagePath]="'../assets/images/www-logo.svg'" [elementName]="'Modalidad'"
                (onButtonClickEmitter)="openLinkNewTab(subject.modalidadLink)">
            </app-catedra-column-with-button>

            <app-catedra-column-with-button *ngIf="subject.programaLink"
                [elementIconImagePath]="'../assets/images/www-logo.svg'" [elementName]="'Programa'"
                (onButtonClickEmitter)="openLinkNewTab(subject.programaLink)">
            </app-catedra-column-with-button>

            <app-catedra-column-with-button *ngIf="subject.webLink"
                [elementIconImagePath]="'../assets/images/www-logo.svg'" [elementName]="'Web / Material'"
                (onButtonClickEmitter)="openLinkNewTab(subject.webLink)">
            </app-catedra-column-with-button>

            <app-catedra-column-with-button *ngIf="subject.moodleLink"
                [elementIconImagePath]="'../assets/images/moodle-logo.svg'" [elementName]="'Moodle'"
                (onButtonClickEmitter)="openLinkNewTab(subject.moodleLink)">
            </app-catedra-column-with-button>

            <app-catedra-column-with-button *ngIf="subject.clasesLink"
                [elementIconImagePath]="'../assets/images/you-tube-logo.svg'" [elementName]="'Clases'">
            </app-catedra-column-with-button>

            <app-catedra-column-with-button *ngIf="subject.resumenesLink"
                [elementIconImagePath]="'../assets/images/pencil-logo.svg'" [elementName]="'Resúmenes'">
            </app-catedra-column-with-button>

            <app-catedra-column-with-button *ngIf="subject.parcialesLink"
                [elementIconImagePath]="'../assets/images/studying-logo.svg'" [elementName]="'Parciales'">
            </app-catedra-column-with-button>

            <app-catedra-column-with-button *ngIf="subject.finalesLink"
                [elementIconImagePath]="'../assets/images/finish-flag-logo.svg'" [elementName]="'Finales'">
            </app-catedra-column-with-button>
        </div>
    </div>
</ibm-tile>