@import "src/styles/carbon-utils.scss";

@include adjustPaddingInIBMGridAndCol();

h1 {
  font-size: calc(1.25vw + 1.25vh);
}

h2 {
  font-size: calc(1vw + 1vh);
}

p,
ul {
  margin-bottom: 0.5rem;
  font-size: calc(0.75vw + 0.75vh);
}

ul {
  list-style-type: disc;

  li {
    margin-left: 2rem;
    margin-bottom: 0.5rem;

    ul {
      list-style-type: circle;
    }
  }
}

.inner-tile {
  background-color: #fbfbfb;
}

.column-with-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

.clickeable-element {
  cursor: pointer;
}

.clickeable-element:hover {
  background-color: #cbcbcb;
}
