@import "src/styles/carbon-utils.scss";

@include adjustPaddingInIBMGridAndCol();

.bx--btn--primary {
  width: 100%;
  background-color: black;
  padding: calc(0.875rem - 3px) 0px calc(0.875rem - 3px) 15px;
  line-break: anywhere;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.bx--btn--primary:hover {
  background-color: #333;
}

:host ::ng-deep {
  .action-bar-element-container {
    img {
      margin-right: 1.5rem !important;
    }

    span {
      font-size: 1.25rem;
    }
  }
}
