<div class="matrix-container">
    <div ibmRow>
        <div ibmCol>
            <h2>Matriz {{matrixLetter}}</h2>
        </div>
    </div>
    <div ibmRow>
        <div ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 4, sm: 2 }">
            <ibm-number [label]="'Filas'" [min]="1" [max]="5" [(ngModel)]="numberOfRows"
                (change)="changeMatrixDimensions($event.value, numberOfColumns)"></ibm-number>
        </div>
        <div ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 4, sm: 2 }">
            <ibm-number [label]="'Columnas'" [min]="1" [max]="5" [(ngModel)]="numberOfColumns"
                (change)="changeMatrixDimensions(numberOfRows, $event.value)"></ibm-number>
        </div>
    </div>
    <div ibmRow>
        <div ibmCol>
            <table #tableContainerElement>
                <tr *ngFor="let row of matrix; let rowIndex = index" class="row">
                    <td *ngFor="let cell of row; let colIndex = index" class="column">
                        <div class="cell">
                            <input type="text" [value]="cell.value"
                                (input)="onCellValueChange(rowIndex, colIndex, $event)">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <svg (click)="deleteMatrix()" class="trash-can-icon" ibmIcon="trash-can" size="24"></svg>
</div>