<div class="matrix-container">
    <div ibmRow>
        <div ibmCol>
            <h2>Matriz {{matrixLetter}}</h2>
        </div>
    </div>
    <div ibmRow>
        <div ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 6, sm: 6 }">
            <ibm-number [label]="'Numero de filas'" [min]="1" [max]="5" [(ngModel)]="numberOfRows"
                (change)="changeMatrixDimensions($event.value, numberOfColumns)"></ibm-number>
        </div>
        <div ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 6, sm: 6 }">
            <ibm-number [label]="'Numero de columnas'" [min]="1" [max]="5" [(ngModel)]="numberOfColumns"
                (change)="changeMatrixDimensions(numberOfRows, $event.value)"></ibm-number>
        </div>
    </div>
    <div ibmRow>
        <div ibmCol>
            <table #tableContainerElement>
                <tr *ngFor="let row of matrix;" class="row">
                    <td *ngFor="let cell of row;" class="column">
                        <div class="cell">
                            <input type="text" [(ngModel)]="cell.value">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <svg (click)="deleteMatrix()" class="trash-can-icon" ibmIcon="trash-can" size="24"></svg>
</div>