<div ibmRow>
    <div ibmCol>
        <ibm-tile class="principal-tile">
            <div ibmRow>
                <div ibmCol class="column-with-margin">
                    <h1>
                        <strong>
                            Listado de páginas con cursos gratuitos
                        </strong>
                    </h1>
                </div>
            </div>
            <div ibmRow>
                <div ibmCol>
                    <ul>
                        <ng-container *ngFor="let freeCoursePage of freeCoursesPages">
                            <li>
                                <p>
                                    <a [href]="freeCoursePage.pageLink" target="_blank">
                                        <strong>{{ freeCoursePage.pageName }}</strong>
                                    </a>
                                </p>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </ibm-tile>
    </div>
</div>
<!-- <div ibmRow>
    <div ibmCol>
        <ibm-tile class="principal-tile">
            <div ibmRow>
                <div ibmCol class="column-with-margin">
                    <h1>
                        <strong>
                            Canales de matemática y física recomendados
                        </strong>
                    </h1>
                </div>
            </div>
            <div ibmRow>
                <div ibmCol>
                    <div *ngIf="channelInfo">
                        <img [src]="channelInfo.thumbnails.default.url" alt="Imagen de perfil">
                        <h3>{{ channelInfo.title }}</h3>
                        <p>{{ channelInfo.description }}</p>
                    </div>
                </div>
            </div>
        </ibm-tile>
    </div>
</div> -->