<div ibmRow>
    <div ibmCol>
        <h1>
            <strong>
                Operaciones con matrices
            </strong>
        </h1>
    </div>
</div>
<div ibmRow>
    <div *ngFor="let matrix of matrices;" ibmCol [columnNumbers]="{ max: 2, xlg: 3, lg: 3, md: 3, sm: 3 }">
        <app-matrix [matrixLetter]="matrix.name" [matrix]="matrix.matrix" (onUpdateMatrixEmitter)="updateMatrix($event)"
            (onDeleteMatrixEmitter)="deleteMatrix($event)">
        </app-matrix>
    </div>
</div>
<div ibmRow>
    <div ibmCol [columnNumbers]="{ max: 6, xlg: 12, lg: 12, md: 8, sm: 6 }">
        <div class="result-viewer">
            <div ibmRow>
                <p class="math-content" [mathjax]="latexExpression"></p>
            </div>
            <div ibmRow class="result-container">
                <p class="math-content-result" [mathjax]="latexExpressionResult"></p>
                <ng-container *ngIf="isWarningIconVisible">
                    <svg class="warning-icon" ibmIcon="warning--alt" size="32" [ibmTooltip]="warningTooltipTemplate"
                        trigger="click" placement="left"></svg>
                </ng-container>
                <ng-container *ngIf="isDecimalsIconVisible">
                    <svg (click)="calculateResultInDecimals()" class="decimal-icon" ibmIcon="character--decimal"
                        size="20" [ibmTooltip]="decimalsTooltipTemplate" trigger="hover" placement="top"></svg>
                </ng-container>
                <ng-container *ngIf="isFractionIconVisible">
                    <svg (click)="calculateResultInFraction()" class="fraction-icon" ibmIcon="character--fraction"
                        size="20" [ibmTooltip]="fractionTooltipTemplate" trigger="hover" placement="top"></svg>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="steps.length > 0">
    <div ibmRow>
        <div ibmCol [columnNumbers]="{ max: 6, xlg: 12, lg: 12, md: 8, sm: 6 }">
            <div ibmRow>
                <div ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 8, sm: 6 }">
                </div>
                <div ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 8, sm: 6 }">
                    <button ibmButton="primary" (click)="showStepByStepModalWindow()">Mostrar pasos</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div ibmRow>
    <div ibmCol [columnNumbers]="{ max: 3, xlg: 6, lg: 6, md: 8, sm: 6 }">
        <div ibmRow>
            <div ibmCol>
                <button class="yellow-button" ibmButton="primary" [disabled]="matrices.length >= alphabet.length"
                    (click)="addNewMatrix()">
                    Agregar matriz
                </button>
            </div>
        </div>
        <div ibmRow>
            <div ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 4, sm: 2 }">
                <ibm-dropdown placeholder="Elegir matriz" (selected)="onSelectedMatrix($event)">
                    <ibm-dropdown-list [items]="matricesItems"></ibm-dropdown-list>
                </ibm-dropdown>
            </div>

            <div ibmCol [columnNumbers]="{ max: 6, xlg: 6, lg: 6, md: 4, sm: 2 }">
                <ibm-dropdown placeholder="Elegir matriz" (selected)="onSelectedMatrix($event)">
                    <ibm-dropdown-list [items]="matricesItems"></ibm-dropdown-list>
                </ibm-dropdown>
            </div>
        </div>
        <div ibmRow>
            <div ibmCol [columnNumbers]="{ max: 3, xlg: 3, lg: 3, md: 2, sm: 1 }">
                <button ibmButton="primary" (click)="addNewSymbolToTheExpressionToBeCalculated('inv(')">
                    <p>A <sup>-1</sup></p>
                </button>
            </div>
            <div ibmCol [columnNumbers]="{ max: 3, xlg: 3, lg: 3, md: 2, sm: 1 }">
                <button ibmButton="primary">
                    <p>A <sup>T</sup></p>
                </button>
            </div>
            <div ibmCol [columnNumbers]="{ max: 3, xlg: 3, lg: 3, md: 2, sm: 1 }">
                <button ibmButton="primary">
                    <p>x <sup>y</sup></p>
                </button>
            </div>
        </div>
        <div ibmRow>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'cos(', disabled: false}">
            </ng-container>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'sin(', disabled: false}">
            </ng-container>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'tan(', disabled: false}">
            </ng-container>
        </div>
    </div>
    <div ibmCol [columnNumbers]="{ max: 3, xlg: 6, lg: 6, md: 8, sm: 6 }">
        <div ibmRow>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'(', disabled: false}">
            </ng-container>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:')', disabled: false}">
            </ng-container>
            <div ibmCol [columnNumbers]="{ max: 3, xlg: 3, lg: 3, md: 2, sm: 1 }">
                <button ibmButton="primary" [disabled]="isExpressionToCalculateEmpty"
                    (click)="removeSymbolToTheExpressionToBeCalculated()">
                    <ng-container [ngTemplateOutlet]="deleteButtonTemplate"></ng-container>
                </button>
            </div>
            <div ibmCol [columnNumbers]="{ max: 3, xlg: 3, lg: 3, md: 2, sm: 1 }">
                <button ibmButton="primary" [disabled]="isExpressionToCalculateEmpty"
                    (click)="resetExpressionToBeCalculated()">AC</button>
            </div>
        </div>
        <div ibmRow>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'7', disabled: false}">
            </ng-container>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'8', disabled: false}">
            </ng-container>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'9', disabled: false}">
            </ng-container>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'/', disabled: isExpressionToCalculateEmpty || isLastSymbolAnOperator}">
            </ng-container>
        </div>
        <div ibmRow>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'4', disabled: false}">
            </ng-container>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'5', disabled: false}">
            </ng-container>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'6', disabled: false}">
            </ng-container>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'*', disabled: isExpressionToCalculateEmpty || isLastSymbolAnOperator}">
            </ng-container>
        </div>
        <div ibmRow>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'1', disabled: false}">
            </ng-container>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'2', disabled: false}">
            </ng-container>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'3', disabled: false}">
            </ng-container>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'-', disabled: isExpressionToCalculateEmpty || isLastSymbolAnOperator}">
            </ng-container>
        </div>
        <div ibmRow>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'0', disabled: false}">
            </ng-container>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'.', disabled: isExpressionToCalculateEmpty || isLastSymbolAnOperator || isLastTokenAFloat}">
            </ng-container>
            <div ibmCol [columnNumbers]="{ max: 3, xlg: 3, lg: 3, md: 2, sm: 1 }">
                <button ibmButton="primary" [disabled]="isExpressionToCalculateEmpty || isLastSymbolAnOperator"
                    (click)="calculate()">=</button>
            </div>
            <ng-container [ngTemplateOutlet]="calculatorButtonTemplate"
                [ngTemplateOutletContext]="{symbol:'+', disabled: isExpressionToCalculateEmpty || isLastSymbolAnOperator}">
            </ng-container>
        </div>
    </div>
</div>

<ng-template #calculatorButtonTemplate let-symbol='symbol' let-disabled='disabled'>
    <div ibmCol [columnNumbers]="{ max: 3, xlg: 3, lg: 3, md: 2, sm: 1 }">
        <button ibmButton="primary" [disabled]="disabled" (click)="addNewSymbolToTheExpressionToBeCalculated(symbol)">
            {{symbol}}
        </button>
    </div>
</ng-template>

<ng-template #deleteButtonTemplate>
    <svg class="delete-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <defs>
            <style>
                .cls-1 {
                    fill: none;
                }
            </style>
        </defs>
        <path
            d="m29,26H12c-.2651,0-.5195-.1053-.707-.2928L2.293,16.7072c-.3906-.3906-.3906-1.0237,0-1.4143L11.293,6.2928c.1875-.1875.4419-.2928.707-.2928h17c.5522,0,1,.4478,1,1v18c0,.5522-.4478,1-1,1Zm-16.5857-2h15.5857V8h-15.5857l-8,8,8,8Z" />
        <polygon
            points="20.4141 16 25 11.4141 23.5859 10 19 14.5859 14.4143 10 13 11.4141 17.5859 16 13 20.5859 14.4143 22 19 17.4141 23.5859 22 25 20.5859 20.4141 16" />
        <rect id="_Transparent_Rectangle_" data-name="&amp;lt;Transparent Rectangle&amp;gt;" class="cls-1" width="32"
            height="32" />
    </svg>
</ng-template>

<ng-template #warningTooltipTemplate>
    <p>{{errorMessage}}</p>
</ng-template>

<ng-template #decimalsTooltipTemplate>
    <p>Ver el resultado en decimales</p>
</ng-template>

<ng-template #fractionTooltipTemplate>
    <p>Ver el resultado como fracción</p>
</ng-template>