@import "src/styles/utils.scss";

@include adjustPaddingInIBMGridAndCol();

.result-viewer {
  border: 1px solid $principal-color;
  padding: 0.5rem 1rem;

  .bx--row {
    min-height: 4rem;
    height: auto;
    padding: 0.5rem 1rem;
    overflow-x: auto;

    .math-content {
      font-size: 1.5rem;
      letter-spacing: 0.5rem;
    }
  }

  .result-container {
    display: flex;
    justify-content: flex-end;

    .math-content-result {
      margin-right: 1rem;
      font-size: 1.5rem;
      letter-spacing: 0.5rem;
    }
  }
}

.bx--btn--primary {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  background-color: $principal-color;
  padding: 0;
  line-break: anywhere;
  font-size: 20px;
  justify-content: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;

  p {
    font-size: 20px;

    sup {
      font-size: 0.75rem;
    }
  }
}

.bx--btn--primary:hover {
  background-color: #cbcbcb !important;
}

.yellow-button {
  background-color: $secondary-color;
  color: $principal-color;
}

.yellow-button:hover {
  background-color: $secondary-color-hover !important;
}

.bx--btn--primary:hover {
  background: $principal-color-hover;
}

.bx--btn--primary:disabled {
  opacity: 50%;
}

.delete-icon {
  fill: white;
}

.decimal-icon:hover,
.fraction-icon:hover {
  cursor: pointer;
  fill: $principal-color-hover;
}

.warning-icon {
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.warning-icon:focus {
  fill: black;
  outline: none;
}

.dropdown-container {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
