<div class="home-container">
    <div ibmRow class="title-column">
        <div class="title-container">
            <p>{{ pageTitle }}</p>
        </div>
    </div>
    <div ibmRow class="logos-row">
        <ng-container *ngFor="let pageSection of pageSections">
            <ng-container *ngIf="pageSection.cardFrontImagePath && pageSection.cardBackImagePath">
                <div ibmCol [columnNumbers]="{ max: 4, xlg: 4, lg: 4, md: 3, sm: 2 }">
                    <app-flip-card [navigateToPath]="pageSection.route" [cardName]="pageSection.name"
                        [cardFrontImagePath]="pageSection.cardFrontImagePath"
                        [cardBackImagePath]="pageSection.cardBackImagePath">
                    </app-flip-card>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div ibmRow class="metrics-row">
        <h3>
            Parciales:
            <ng-container *ngIf="!areMetricsLoading">
                <span class="metric-number">{{ parciales.length }}</span>
            </ng-container>
            <ng-container *ngIf="areMetricsLoading">
                <ibm-skeleton-text [lines]="1"></ibm-skeleton-text>
            </ng-container>
        </h3>
    </div>
    <div ibmRow class="metrics-row">
        <h3>
            Finales:
            <ng-container *ngIf="!areMetricsLoading">
                <span class="metric-number">{{ finales.length }}</span>
            </ng-container>
            <ng-container *ngIf="areMetricsLoading">
                <ibm-skeleton-text [lines]="1"></ibm-skeleton-text>
            </ng-container>
        </h3>
    </div>
    <div ibmRow class="metrics-row">
        <h3>
            Apuntes:
            <ng-container *ngIf="!areMetricsLoading">
                <span class="metric-number">{{ apuntes.length }}</span>
            </ng-container>
            <ng-container *ngIf="areMetricsLoading">
                <ibm-skeleton-text [lines]="1"></ibm-skeleton-text>
            </ng-container>
        </h3>
    </div>
    <div ibmRow class="table-row">
        <ibm-table-container class="data-table-container">
            <ibm-table-header>
                <h4 ibmTableHeaderTitle>Recursos</h4>
                <p ibmTableHeaderDescription>Listado de todos los recursos que pueden encontrarse en la página</p>
                <div ibmRow class="filters-container">
                    <div ibmCol>
                        <ibm-label>Cátedra</ibm-label>
                        <div class="bx--search">
                            <input class="bx--search-input" type="search" placeholder='Buscar por nombre de cátedra'
                                autocomplete='on' (input)="onChangeSearchingBySubject($event)">
                            <svg class="bx--search-magnifier-icon" ibmIcon="search" size="16"></svg>
                        </div>
                    </div>
                    <div ibmCol>
                        <ibm-dropdown label="Carreras" placeholder="Selecciona una carrera"
                            (selected)="onSelectedCareerChange($event)">
                            <ibm-dropdown-list [items]="careersDropdownItems"></ibm-dropdown-list>
                        </ibm-dropdown>
                    </div>
                    <div ibmCol>
                        <ibm-dropdown label="Tipo de recurso" placeholder="Selecciona un tipo de recurso"
                            (selected)="onSelectedResourceTypeChange($event)">
                            <ibm-dropdown-list [items]="resourceTypesItems"></ibm-dropdown-list>
                        </ibm-dropdown>
                    </div>
                    <div ibmCol>
                        <div class="date-picker-container">
                            <ibm-date-picker label="Fecha inicio" rangeLabel="Fecha fin" [range]="true"
                                [(ngModel)]="dates" placeholder="dd/mm/yyyy" dateFormat="d/m/Y"
                                (valueChange)="onDateChange($event)">
                            </ibm-date-picker>
                            <div class="close-icon-container" (click)="clearDateFilters()">
                                <svg class="bx--btn__icon" ibmIcon="close" size="16"></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </ibm-table-header>

            <ng-container *ngIf="!areMetricsLoading">
                <ibm-table [model]="resourcesTableModel" [showSelectionColumn]="false" [striped]="false"
                    [sortable]="false">
                    <tbody>
                        <tr>
                            <td colspan="5">
                                <div class="no-data-table-container">
                                    <img src="assets/images/no-result-found-on-web-icon.svg" alt="No result found">
                                    <h5>No se encontraron recursos</h5>
                                    <p>Prueba cambiando los filtros para encontrar recursos</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </ibm-table>
            </ng-container>

            <ng-container *ngIf="areMetricsLoading">
                <ibm-table [model]="skeletonModel" [striped]="false" [skeleton]="true">
                </ibm-table>
            </ng-container>

            <ibm-pagination [model]="resourcesTableModel" (selectPage)="selectPage($event)"></ibm-pagination>
        </ibm-table-container>
    </div>
</div>

<ng-template #headerTemplate let-data="data">
    <div class="table-header" [title]="data.description">{{ data.title }}</div>
</ng-template>

<ng-template #columnTemplate let-data="data">
    <div class="table-row-data-container">
        {{ data }}
    </div>
</ng-template>

<ng-template #tagTemplate let-data="data">
    <div class="tag-container">
        <ibm-tag *ngIf="data === ingenieriaDeSistemasName" type="blue">{{data}}</ibm-tag>
        <ibm-tag *ngIf="data === tudaiName" type="teal">{{data}}</ibm-tag>
        <ibm-tag *ngIf="data === ltaName" type="green">{{data}}</ibm-tag>
    </div>
</ng-template>

<ng-template #linkTemplate let-data="data">
    <div class="link-icon-container">
        <ng-container *ngIf="data">
            <svg class="link-icon" ibmIcon="link" size="24" (click)="openLinkNewTab(data)"></svg>
        </ng-container>
    </div>
</ng-template>