<div class="home-container">
    <div ibmRow class="title-column">
        <div class="title-container">
            <p>La guía exacta</p>
        </div>
    </div>
    <div ibmRow class="logos-row">
        <ng-container *ngFor="let pageSection of pageSections">
            <ng-container *ngIf="pageSection.cardFrontImagePath && pageSection.cardBackImagePath">
                <div ibmCol [columnNumbers]="{ max: 4, xlg: 4, lg: 4, md: 3, sm: 2 }">
                    <app-flip-card [navigateToPath]="pageSection.route" [cardName]="pageSection.name"
                        [cardFrontImagePath]="pageSection.cardFrontImagePath"
                        [cardBackImagePath]="pageSection.cardBackImagePath">
                    </app-flip-card>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div ibmRow class="metrics-row">
        <h3>
            Parciales:
            <ng-container *ngIf="!areMetricsLoading">
                <span class="metric-number">{{ parciales.length }}</span>
            </ng-container>
            <ng-container *ngIf="areMetricsLoading">
                <ibm-skeleton-text [lines]="1"></ibm-skeleton-text>
            </ng-container>
        </h3>
    </div>
    <div ibmRow class="metrics-row">
        <h3>
            Finales:
            <ng-container *ngIf="!areMetricsLoading">
                <span class="metric-number">{{ finales.length }}</span>
            </ng-container>
            <ng-container *ngIf="areMetricsLoading">
                <ibm-skeleton-text [lines]="1"></ibm-skeleton-text>
            </ng-container>
        </h3>
    </div>
    <div ibmRow class="metrics-row">
        <h3>
            Apuntes:
            <ng-container *ngIf="!areMetricsLoading">
                <span class="metric-number">{{ apuntes.length }}</span>
            </ng-container>
            <ng-container *ngIf="areMetricsLoading">
                <ibm-skeleton-text [lines]="1"></ibm-skeleton-text>
            </ng-container>
        </h3>
    </div>
    <div ibmRow class="table-row">
        <ibm-table-container class="data-table-container">
            <ibm-table-header>
                <h4 ibmTableHeaderTitle>Recursos</h4>
                <p ibmTableHeaderDescription>Listado de todos los recursos que pueden encontrarse en la página</p>
            </ibm-table-header>

            <ibm-table [model]="resourcesTableModel" [showSelectionColumn]="false" [striped]="false" [sortable]="false">
                <tbody>
                    <tr>
                        <td class="no-data-table" colspan="4">
                            <div>No data.</div>
                        </td>
                    </tr>
                </tbody>
            </ibm-table>

            <ibm-pagination [model]="resourcesTableModel" (selectPage)="selectPage($event)"></ibm-pagination>
        </ibm-table-container>
    </div>
</div>

<ng-template #headerTemplate let-data="data">
    <div class="table-header" [title]="data.description">{{ data.title }}</div>
</ng-template>

<ng-template #columnTemplate let-data="data">
    <div class="table-row-data-container">
        {{ data }}
    </div>
</ng-template>

<ng-template #tagTemplate let-data="data">
    <div class="tag-container">
        <ibm-tag *ngIf="data === ingenieriaDeSistemasName" type="blue">{{data}}</ibm-tag>
        <ibm-tag *ngIf="data === tudaiName" type="teal">{{data}}</ibm-tag>
        <ibm-tag *ngIf="data === ltaName" type="green">{{data}}</ibm-tag>
    </div>
</ng-template>

<ng-template #linkTemplate let-data="data">
    <div class="link-icon-container">
        <ng-container *ngIf="data">
            <svg class="link-icon" ibmIcon="link" size="24" (click)="openLinkNewTab(data)"></svg>
        </ng-container>
    </div>
</ng-template>