<div ibmRow class="home-container">
    <div class="info-container">
        <img src="assets/images/information-mark-circle-icon.svg" style="width: calc(5vw + 5vh); margin-right: 1rem;">
        <p>
            La cuenta de Instagram de la página fue momentáneamente suspendida por Instagram, hasta recuperar la cuenta, pueden contactarse usando <a href="https://instagram.com/gabrielegonzalez97?igshid=ZDdkNTZiNTM=">esta cuenta personal</a>
        </p>
    </div>
    <div class="title-column">
        <div class="title-container">
            <p>La guía exacta</p>
        </div>
    </div>
    <div ibmRow class="logos-row">
        <div ibmCol>
            <app-flip-card [navigateToPath]="'carreras/ingenieria-de-sistemas'" [cardName]="'Carreras'"
                [cardFrontImagePath]="'assets/images/home-logos/carreras-front-logo.svg'"
                [cardBackImagePath]="'assets/images/home-logos/carreras-back-logo.svg'">
            </app-flip-card>
        </div>
        <div ibmCol>
            <app-flip-card [navigateToPath]="'catedras'" [cardName]="'Cátedras'"
                [cardFrontImagePath]="'assets/images/home-logos/catedras-front-logo.svg'"
                [cardBackImagePath]="'assets/images/home-logos/catedras-back-logo.svg'">
            </app-flip-card>
        </div>
        <div ibmCol>
            <app-flip-card [navigateToPath]="'cursos-gratuitos'" [cardName]="'Cursos gratuitos'"
                [cardFrontImagePath]="'assets/images/home-logos/cursos-gratuitos-front-logo.svg'"
                [cardBackImagePath]="'assets/images/home-logos/cursos-gratuitos-back-logo.svg'">
            </app-flip-card>
        </div>
        <div ibmCol>
            <app-flip-card [navigateToPath]="'subir-aportes'" [cardName]="'Subir aportes'"
                [cardFrontImagePath]="'assets/images/home-logos/subir-aportes-front-logo.svg'"
                [cardBackImagePath]="'assets/images/home-logos/subir-aportes-back-logo.svg'">
            </app-flip-card>
        </div>
    </div>
</div>