@import "src/styles/carbon-utils.scss";

@include adjustPaddingInIBMGridAndCol();

.steps-container {
  padding: 1.5rem;

  .bx--row {
    overflow-x: auto;
    margin-bottom: 1rem;

    p {
      font-size: 1.5rem;
    }

    .latex-expression {
      display: flex;
      justify-content: center;
    }
  }
}

:host ::ng-deep {
  .bx--modal-container {
    overflow-y: scroll;
  }
}
