@import "src/styles/carbon-utils.scss";

@include adjustPaddingInIBMGridAndCol();

.steps-container {
  padding: 1.5rem;

  .bx--row {
    margin-bottom: 1rem;

    .bx--col {
      overflow-x: auto;

      p {
        width: max-content;
        font-size: 1.5rem;
      }

      .latex-expression {
        display: contents;
        text-align: center;
      }
    }
  }
}

:host ::ng-deep {
  .bx--modal-container {
    overflow-y: scroll;
  }
}
